PORT=3000
HOST=0.0.0.0
DATABASE_PATH=./data/another-me.sqlite
WECHAT_APP_ID=wx647777763a71d433
WECHAT_APP_SECRET=
GEONAMES_USERNAME=
QWEATHER_API_HOST=mh5khy32pc.re.qweatherapi.com
QWEATHER_DEVELOPER_ID=Q03866B58B
QWEATHER_PROJECT_ID=
QWEATHER_KEY_ID=
QWEATHER_PRIVATE_KEY_PATH=./data/qweather-private.pem
